<div style="display: flex; align-items: center;">
  <a routerLink="/"><img src="logo.png" width="128px" height="128px" /></a>
  <div>
    <h1 style="font-family: Harlow Solid Italic; color: #025c04; font-size: 96px; margin: 0;">Kiwi Angles</h1>
    <p style="color: #025c04; font-size: 24px; margin: 0">View New Zealand through a new lens</p>
  </div>
</div>
<nav>
  <ul>
    <li *ngFor="let route of navRoutes">
      <a [routerLink]="route.path" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">{{route.title}}</a>
    </li>
  </ul>
</nav>

<router-outlet />
